@use '../../index.scss';

@keyframes cartAppear {
    0% {
        left: 100%;
    }

    100% {
        left: 70%;
    }
}

.cart-appear {
    animation: 0.7s cartAppear ease-in-out forwards;
}

#component_cart {
    background-color: index.$darkMelon;
    position: fixed;
    right: 0;
    left: 100%;
    padding: 20px;
    border-left: 1px solid black;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart_checkout-button {
    width: 25%;
}