#subroute_product-details {
    color: red;
}

#product-details_window {
    width: 70vw;
    background-color: var(--melon);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}