@use '../../index.scss';

@keyframes cartAppear {
    0% {
        left: 100vw;
    }

    100% {
        left: 60vw;
    }
}

.minicart-appear {
    animation: 0.7s cartAppear ease-in-out forwards;
}

#component_minicart {
    z-index: 10;
    text-align: center;
    background-color: index.$darkMelon;
    position: fixed;
    right: 0;
    left: 100vw;
    border-left: 3px ridge index.$darkMelon;
    width: 40vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    h2 {
        margin: 2rem 2.5rem;
    }

    img {
        border: 2px ridge index.$oldRose;
        width: 50%;
    }
}

.minicart-content {
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    @keyframes cartAppear {
        0% {
            left: 100vw;
        }

        100% {
            left: 0vw;
        }
    }

    #component_minicart {
        width: 100vw;
    }

    .minicart-content {
        margin-bottom: 150px;
    }
}

.minicart_items {
    margin: 2rem auto 3rem;
}

.minicart_item-preview {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    width: 80%;
    margin: 15px auto;
    padding: 10px;
}

.minicart_item-information {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        margin: 5px auto;
    }
}

.minicart_item-name {
    font-size: 1.2rem;
    font-family: index.$fontLabel;
}

.minicart_item-price {
    font-size: 1.2rem;
    font-family: index.$fontPrice;
}

.minicart_checkout {
    margin: 2rem 2.5rem;
}

.minicart_total-label {
    font-family: index.$fontTitle;
    font-size: 2rem;
    margin: 10px 0;
}

.minicart_total-price {
    font-family: index.$fontPrice;
    font-size: 1.5rem;
    margin: 10px 0;
}

.minicart_checkout-button {
    width: 25%;
    margin: 1.5rem auto 2rem;
}