@use '../../index.scss';

#page_home {
    margin: 10vh 1rem;
    margin-top: -160px;
    text-align: center;

    header,
    section {
        margin: 10rem auto;
    }
}

.home-header {
    height: 90vh;
    background: no-repeat center url(/furniture/bed-2-min.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-header_text {
        padding: 4.5rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.home_featured {
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.home_discover {
    div {
        margin-top: 3rem;
    }
}

#discover_image-left {
    width: 400px;
    margin: auto 90px 2rem auto;
}

#discover_image-right {
    width: 350px;
    margin: auto auto 2rem 100px;
}

@media screen and (max-width: 550px) {
    #discover_image-left {
        width: 250px;
    }

    #discover_image-right {
        width: 225px;
        margin-left: 50px;
    }
}

.home_handcrafted {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        width: 600px;
        text-align: left;
    }
}

#handcrafted-image {
    width: 400px;
}

@media screen and (max-width: 550px) {
    .home_handcrafted {
        flex-direction: column;

        div {
            width: 100%;
            text-align: center;
        }
    }

    #handcrafted-image {
        width: 300px;
    }
}

.home_reviews {
    h3 {
        font-size: 2rem;
    }

    i {
        margin: 1rem;
    }
}