@use '../../index.scss';

#page_home {
    margin: 2rem;
    text-align: center;

    header,
    section {
        margin: 10rem auto;
    }
}

.home_featured {
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.home_discover {
    div {
        margin-top: 3rem;
    }
}

#discover_image-left {
    // width: 400px;
    width: 50%;
    margin: auto 50px 5rem auto;
}

#discover_image-right {
    // width: 350px;
    width: 45%;
}

// @media screen and (max-width: 500px) {
//     #discover_image-left {
//         width: 200px;
//         margin: auto 50px 2rem auto;
//     }

//     #discover_image-right {
//         width: 175px;
//         margin-left: 50px;
//     }
// }

.home_handcrafted {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        width: 600px;
        text-align: left;
    }
}

#handcrafted-image {
    width: 60%;
}

@media screen and (max-width: 500px) {
    #handcrafted-image {
        width: 200px;
    }
}

.home_reviews {
    h3 {
        font-size: 2rem;
    }

    i {
        margin: 1rem;
    }
}