@use '../../index.scss';

#route_home {
    text-align: center;

    header,
    section {
        margin: 10rem auto;
    }
}

.home_featured {
    div {
        display: flex;
        justify-content: center;
    }
}

.home_handcrafted {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_reviews {
    i {
        margin: 1rem;
    }
}