#component_item {
  width: 250px;
  height: 300px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-img {
  width: 200px;
  height: auto;
  margin: 0;

  &:hover {
    width: 220px;
  }
}

.item-name {
  margin: 2em 0 0 0;
  position: relative;
}