@use '../../index.scss';

#component_item {
  width: 18vw;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-img {
  width: 73%;
  margin-top: 10px;
}

.item-name {
  margin: 2rem 0 0 0;
  font-size: 1.4rem;
}

.item-price {
  font-family: index.$fontPrice;
}