@use '../../index.scss';

#component_navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 20px;
    background: index.$melon;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar_links,
.navbar_logo,
.navbar_cart {
    align-self: center;
}

.navbar_links {
    justify-self: start;
    font-size: 1.5rem;

    a {
        margin: auto 8px
    }
}

.navbar_logo {
    justify-self: center;
}

.navbar_cart {
    justify-self: end;
}