@use '../../index.scss';

#component_item {
  width: 250px;
  height: 320px;
  margin: 10px;
  border: 3px ridge index.$darkMelon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-img {
  width: 73%;
  margin-top: 10px;
}

.item-name {
  margin: 2rem 0 0 0;
  font-size: 1.4rem;
}

.item-price {
  font-family: index.$fontPrice;
}