$outerSpace: #484a47;
$payneGray: #5c6d70;
$oldRose: #a37774;
$salmon: #e88873;
$melon: #f2d2c9;
$marble: #f7eae6;

$fontTitle: 'Cormorant Garamond', serif;
$fontSubtitle: 'Libre Franklin', sans-serif;
$fontLabel: 'Exo 2', sans-serif;
$fontDescription: 'Barlow Condensed', sans-serif;
$fontPrice: 'Cutive Mono', monospace;

:root {
    color-scheme: light;
    color: #000;
    background-color: $marble;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1,
h2 {
    font-family: $fontTitle;
    margin: 10px;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-family: $fontLabel;
    font-size: 1.2rem;
}

a {
    font-family: $fontSubtitle;
    color: $outerSpace;
    text-decoration: none;

    &:hover {
        color: black;
        text-decoration: underline;
    }

    &:active {
        color: $payneGray;
    }
}