:root {
  --outer-space: #484a47;
  --payne-gray: #5c6d70;
  --old-rose: #a37774;
  --salmon: #e88873;
  --melon: #e0ac9d;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: var(--melon);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.label {
  font-family: 'Libre Franklin', sans-serif;
}

.description {
  font-family: 'Barlow Condensed', sans-serif;
}

.price {
  font-family: 'Cutive Mono', monospace;
}