@use '../../index.scss';

#page_product-details {
    margin: 10vh 2rem;
}

.back-to-shop {
    font-size: 1.2rem;

    &:before {
        content: '← '
    }
}

.product-details_window {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-details_name {
    font-family: index.$fontLabel;
    font-size: 3rem;
}

.product-details_information {
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_item-img {
    width: 380px;
    border: 8px ridge index.$oldRose
}

.product-details_description {
    font-family: index.$fontDescription;
}

@media screen and (max-width: 650px) {
    .product_item-img {
        width: 200px;
    }

    .product-details_name {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .product-details_window {
        flex-direction: column;
    }

    .product_item-img {
        margin: 2rem auto;
    }

    .product-details_information {
        margin: 0;
    }
}